$desktop-width: 1024px;
// Sizes
$tiny-size: 1rem;
$small-size: 2rem;
$medium-size: 5rem;

html {
  font-size: 0.625rem;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  font-size: 1.6rem;
}

h1,h2,h3,h4,h5,p,ul{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}
